<html>

	<head>
        <title>Jídelní lístek</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>


	<body>
		<div id="cssmenu">
			<ul>
				<li><span><p>&nbsp&nbsp&nbsp jídelní lístky</p></span></li>

				{% block menu %}
				
					<li class='active'><a href='http://jidelnicky.herokuapp.com'><span>žižkov</span></a></li>
					<li><a href='http://jidelnicky.herokuapp.com/koleje'><span>koleje</span></a></li>
					<li><a href='http://jidelnicky.herokuapp.com/souce'><span>souce</span></a></li>
					<li class='last'><a href='http://jidelnicky.herokuapp.com'><span>info</span></a></li>

				{% endblock %}

			</ul>
		</div>

		<div class="row clearfix">
			<div class="col-1-2 cell">
                <table class="tftable">

                	{% block first %}

	                    <tr><th colspan=3>Menza - Oběd</th></tr>
	                    {% for key in obed %}
	                        <tr><td>{{obed[loop.index0][0]}}</td><td>{{obed[loop.index0][1]}}</td><td>{{ceny["menza"][loop.index0]}}</td></tr>
	                    {% endfor %}

                    {% endblock%}

                </table>
			</div>
			
			<div class="col-1-2">
                <table class="tftable">

	                {% block second %}
	                	
	                	<tr><th colspan=3>Pizza</th></tr>
		                {% for key in pizza %}
		                    <tr><td>{{pizza[loop.index0][0]}}</td><td>{{pizza[loop.index0][1]}}</td><td>{{ceny["pizza"][loop.index0]}}</td></tr>
		                {% endfor %}

	                {% endblock %}

	            </table>
			</div>
		
		</div>

		<div class="row clearfix">
			
			<div class="col-1-2">
                <table class="tftable">

                	{% block third %}

	                    <tr><th colspan=3>Zdravá výživa</th></tr>
	                    {% for key in zdrava %}
	                        <tr><td>{{zdrava[loop.index0][0]}}</td><td>{{zdrava[loop.index0][1]}}</td><td>{{ceny["zdrava"][loop.index0]}}</td></tr>
	                    {% endfor %}

	                {% endblock %}

                </table>
			</div>
			
			<div class="col-1-2">
		        <table class="tftable">

		        	{% block fourth %}

			            <tr><th cospan=2>Menza - Večeře</th></tr>
			            {% for key in vecere %}
			                <tr><td>{{vecere[loop.index0][1]}}</td></tr>
			            {% endfor %}

		            {% endblock %}

		        </table>
			</div>

		</div>

	</body>

    <foot>
        <p align="center" style="font-size:small">Vytvořil: Maxim Kovykov, Jídelní lístky připravil: David Vokřál,
            Petr Čihař <br>
            {{last_updated}} 
        </p>
    </foot>

</html>
