<html>
    <head>
        <title>Jídelní lístek</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

    </head>

    <body>
        <h1>Jídelní lístky</h1>

        <h2>O projektu</h2>
        <p>Info o projektu</p>
            <h2>Menza</h2>
                    <table class="container">
                        <tr><td><h3>Oběd</h3></td><td></td></tr>
                        {% for key in obed %}
                            <tr><td>{{obed[loop.index0][0]}}</td><td>{{obed[loop.index0][1]}}</td></tr>
                        {% endfor %}
                    </table>

                    <table class="container">
                        <tr><td><h3>Večeře</h3></td><td></td></tr>

                        {% for key in vecere %}
                            <tr><td>{{vecere[loop.index0][0]}}</td><td>{{vecere[loop.index0][1]}}</td></tr>
                        {% endfor %}
                    </table>

            <h2>Pizza a zdravá výživa</h2>

                <table class="container">
                    <tr><td><h3>Pizza</h3></td><td></td></tr>
                    {% for key in pizza %}
                        <tr><td>{{pizza[loop.index0][0]}}</td><td>{{pizza[loop.index0][1]}}</td></tr>
                    {% endfor %}
                </table>

                <table class="container">
                    <tr><td><h3>Zdravá výživa</h3></td><td></td></tr>
                    {% for key in zdrava %}
                        <tr><td>{{zdrava[loop.index0][0]}}</td><td>{{zdrava[loop.index0][1]}}</td></tr>
                    {% endfor %}
                </table>


    </body>

    <foot>
        <p align="center" style="font-size:small">Vytvořil: Maxim Kovykov, Jídelní lístky připravil: David Vokřál,
            Petr Čihař <br>
            CSS téma vytvořil: Pablo García Fernandéz (@PablerShow)
        </p>
    </foot>
</html>